
{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="row gap"><div class="col-xl-12 justify-content-center logtitle ">Today: {{today_date}}</div></div>
<div class="row">
  <div class="col-xl-4 col-lg-4"></div>
  <div class="col-xl-4 col-lg-4">
    <table class="reportTable">
      {% if not CE %}    
      <thead>
        <tr>
          <td colspan="2"></td>
          <td class="ReportTitle">Reps</td>
          <td class="ReportTitle"><b>Sets</b></td>
          <td class="ReportTitle"><b>Min</b></td>
          <td colspan="2"></td>
        </tr>
      </thead>
      {% else %}
      <tr><td colspan="8" class="logtitle gap">Activities: No activities logged</td></tr>
      {% endif%}
      <tbody> 
      {% for CE in clientExercise %}    
        <form action="{% url 'logUpdate' CE.id %}" method="post">
          {% csrf_token %}  
          
          <tr>
              <td><img class="NIHLego" src={{CE.exercise.picture}} title="{{CE.exercise.description}}" /></td>
              <td><span class="ExerciseUnit">{{CE.exercise.name}}</span></td>
              <td><input type="textbox" name="reps" value="{{CE.reps}}" size="3" class="ReportInput"></td>
              <td><input type="textbox" name="sets" value="{{CE.sets}}" size="3" class="ReportInput"></td>
              <td><input type="textbox" name="time" value="{{CE.time}}" size="3" class="ReportInput"></td>
              <td><input type="textbox" name="note" size="40" value="{{ CE.note }}" class="ReportInput"></td> </td>
              <td><input type="image" name="submit" src="https://i.imgur.com/0z7BY05.png" style="border: 0px solid;width:31px;align-self: center;"/></td>
              <td><a href="delete/{{CE.id}}"><img src="https://i.imgur.com/vklu5Z8.png" style="width:31px" /></a></td>
          </tr>
          </form>
        {% endfor %}
        
        <tr><td colspan="8" class="logtitle gap">More exercise to add</td></tr>
          {% for E in exercise %}
        
          <form action="{% url 'logAdd' user.id E.id %}" method="post">
            {% csrf_token %}
            <tr>
              <td><img class="NIHLego" src={{ E.picture }} title="{{E.description}}" /></td>
              <td><span class="ExerciseUnit">{{E.name}}</span></td>
              <td><input type="textbox" name="reps" size="3" placeholder="reps" class="ReportInput"></td>
              <td><input type="textbox" name="sets" size="3" placeholder="sets" class="ReportInput"></td>
              <td><input type="textbox" name="time" size="3" placeholder="mins" class="ReportInput"></td>
              <td><input type="textbox" name="note" size="40" placeholder="notes" class="ReportInput"></td> </td>
              <td><input type="image" name="submit" src="https://i.imgur.com/6ZOnLkx.png" style="border: 0px solid;width:31px"/></td>
              <td></td>
            </tr>     
          </form>  
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-xl-4 col-lg-4"></div>
</div>

  

{% endblock %}