
{% extends 'base.html' %}
{% block content %}

<h1>Log Page</h1>


{% for CE in clientExercise %}
  <a href="">
    <div class="card">
        <div class="card-content">
          <span class="ExerciseUnit"></span>{{CE.exercise.name}}
          <input type="textbox" name="Reps" value="" size="3">
          <input type="textbox" name="Sets" value="" size="3">
          <input type="textbox" name="Mins" value="" size="3"><br>
          <input type="textbox" name="Notes" size="10">
            <span class="card-title">{{ CE.note }}</span><br>
            {{CE.unitAmount}}<br>
            <br>             
            {% load static %}
            <img class="NIHLego" src={% static  CE.exercise.picture %} />
            <img class="NIHLego" src={% static "images/" CE.exercise.picture %} />
         

        </div>
    </div>
  </a>
{% endfor %}


{% endblock %}