
{% extends 'base.html' %}
{% block content %}


{% load static %}


<div class="row">
  <div class="col-xl-3 col-lg-3"></div>
  <div class="col-xl-6 col-lg-6">
    <div class="logContainer">
      <img class="NIHLego" src={% static  CE.exercise.picture %} style="width:50px" />
      <span class="ExerciseUnit">{{CE.exercise.name}}</span>
      <input type="textbox" name="reps" value="{{CE.reps}}" size="5" >
      <input type="textbox" name="sets" value="{{CE.sets}}" size="5" >
      <input type="textbox" name="time" value="{{CE.time}}" size="5" >
      <input type="textbox" name="note" size="40" value="{{ CE.note }}"></td> 
      <input type="submit" value="Edit">  
      <a href="delete/{{CE.id}}"><img src={% static  'trash.png' %} style="width:30px" /></a>
    </div>
  </div>
  <div class="col-xl-3 col-lg-3"></div>

</div>
<div class="main_container">
  <div>
    <table>
      <tr>
        <td>
          <h3>{{user.name}}</h3>
          <h3>{{today_date}}</h3>
        </td>
      </tr>
      {% for CE in clientExercise %}
      <tr>
        <td></td>
        <td></td>
        <td class="ExerciseUnit">Reps</td>
        <td class="ExerciseUnit">Sets</td>
        <td class="ExerciseUnit">Mins</td>
        <td></td>
      </tr>
      <form action="{% url 'logUpdate' CE.id %}" method="post">
        {% csrf_token %}
        <tr>  
          <td><img class="NIHLego" src={% static  CE.exercise.picture %} style="width:50px" /></td>
          <td><span class="ExerciseUnit">{{CE.exercise.name}}</span></td>
          <td class="logUnittd"><input type="textbox" name="reps" value="{{CE.reps}}" size="5" ></td>
          <td class="logUnittd"><input type="textbox" name="sets" value="{{CE.sets}}" size="5" ></td>
          <td class="logUnittd"><input type="textbox" name="time" value="{{CE.time}}" size="5" ></td>
          <td><input type="textbox" name="note" size="40" value="{{ CE.note }}"></td>
          <td>  
              <input type="submit" value="Edit">  
              <a href="delete/{{CE.id}}"><img src={% static  'trash.png' %} style="width:30px" /></a>
          </td>
        </tr> 
      </form>
      {% endfor %}
    
      <tr><td><h4>More Activities to Add:</h4></td></tr>
      
      {% for E in exercise %}
        <form action="{% url 'logAdd' user.id E.id %}" method="post">
          {% csrf_token %}
          <tr>   
            <td><img class="NIHLego" src={% static  E.picture %} style="width:50px" /></td>
            <td><span class="ExerciseUnit">{{E.name}}</span></td>
            <td class="logUnittd"><input type="textbox" name="reps" placeholder="Reps" size="5" value="12"></td>
            <td class="logUnittd"><input type="textbox" name="sets" placeholder="Sets" size="5" value="13"></td>
            <td class="logUnittd"><input type="textbox" name="time" placeholder="Mins" size="5" value="14"></td>
            <td><input type="textbox" name="note" size="40" value="Note"></td>
            <td>     
                <input type="submit" value="Add"> 
            </td>
          </tr> 
        </form>  
      {% endfor %}
    </table>
  </div>
  
</div>

  



{% endblock %}