{% extends 'base.html' %}
{% block content %}

{% load static %}

<div>
  <div class="row">

    <div class="col-xl-4 col-lg-4">
      {% for CEGB in clientExerciseGB %}
        <div class="row trackHeader"><div class="col-xl-12 justify-content-center tracktitle ">{{CEGB.date}}</div></div>
        {% for CE in clientExercise %}
          {% if CEGB.date == CE.date %}
            <div class="row">
              <div class="col-xl-12 col-lg-12">
                <div class="logContainer">
                  <img class="NIHLego" src={% static  CE.exercise.picture %} />
                  <lable class="ExerciseUnit">{{CE.reps}}</lable>
                  <lable class="ExerciseUnit">{{CE.sets}}</lable>
                  <lable class="ExerciseUnit">{{CE.time}}</lable>
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}     
      {% endfor %}
    </div>
    <div class="col-xl-8 col-lg-8">  
      <img src={% static  'bg2.jpeg' %} class="img-fluid" />
    </div>
  </div>
</div>


{% endblock %}