<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="workouts">
        <div class="titles">
            <p class="date">November 03, 2022</p>
            <p>Reps</p>
            <p>Sets</p>
            <p>Mins</p>
        </div>
        <div class="workout">
            <div class="workoutName">
                <img src="https://static.thenounproject.com/png/2703221-200.png" class="workoutImage">
                <p>Push Ups</p>
            </div>
            <input/>
            <input/>
            <input/>
        </div>
        <div class="workout">
            <p class="workoutName">Push Ups</p>
            <input/>
            <input/>
            <input/>
        </div>
        <div class="workout">
            <p class="workoutName">Push Ups</p>
            <input/>
            <input/>
            <input/>
        </div>
        <div class="workout">
            <p class="workoutNotes">Notes</p>
            <input/>
        </div>
        <div class="workouts">
            <div class="titles">
                <p class="date">November 02, 2022</p>
                <p>Reps</p>
                <p>Sets</p>
                <p>Mins</p>
            </div>
            <div class="workout">
                <div class="workoutName">
                    <img src="" class="workoutImage">
                    <p>Yoga</p>
                </div>
                <input/>
                <input/>
                <input/>
            </div>
            <div class="workout">
                <p class="workoutName">Weight Training</p>
                <input/>
                <input/>
                <input/>
            </div>
            <div class="workout">
                <p class="workoutName">Walking</p>
                <input/>
                <input/>
                <input/>
            </div>
            <div class="workout">
                <p class="workoutNotes">Notes</p>
                <input/>
            </div>
            <div class="workouts">
                <div class="titles">
                    <p class="date">November 01, 2022</p>
                    <p>Reps</p>
                    <p>Sets</p>
                    <p>Mins</p>
                </div>
                <div class="workout">
                    <div class="workoutName">
                        <img src="" class="workoutImage">
                        <p>Cyling</p>
                    </div>
                    <input/>
                    <input/>
                    <input/>
                </div>
                <div class="workout">
                    <p class="workoutName">Weight Training</p>
                    <input/>
                    <input/>
                    <input/>
                </div>
                <div class="workout">
                    <p class="workoutName">Pilates</p>
                    <input/>
                    <input/>
                    <input/>
                </div>
                <div class="workout">
                    <p class="workoutNotes">Notes</p>
                    <input/>
                </div>
    </div>
</body>
</html>