{% extends 'base.html' %}
{% block content %}

<div class="main_container">
    Track Fit Training is an athletic training development program for athletes aged 5 – 15 years.   
</div>
<div class="main_container">
    Our Mission <br>    
    Track Fit Training’s goal is to create a positive relationship with fitness and
    Track and Field. By offering athletic training programs that focus on running, jumping,
    throwing, speed and coordination in age-appropriate groups. Our track-based
    programing will improve fitness and aims to create a love for the sport.
</div>

{% endblock %}