<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Track Fit </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
  <section class="landingPage">
    <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/6/61/Black_Circle.jpg" alt="logo">
    <h2 class="title">Track Fit</h2>
    <button class="logInBtn">Log In</button>
    <button class="signUpBtn">Sign Up</button>
  </section>
</body>
</html>