{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Track Fit </title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
  <header class="header">
		<h1 class="logo"><a href=""><img id="logo-image" src="{% static 'images/Component 5.png'%}">Track Fit</a></h1>
      <ul class="main-nav">
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
      </ul>
	</header> 

{% block content %}
{% endblock %}

  </main>
</body>
</html>