{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="galleryContainer">
    <img id="logo-image" src="{% static '1workoutsformen.webp'%}">
    <img id="logo-image" src="{% static '2workoutsforwomen.webp'%}">
    <img id="logo-image" src="{% static '3musclebuilding.jpeg'%}">
    <img id="logo-image" src="{% static '4fatloss.jpeg'%}">
    <img id="logo-image" src="{% static '5increasestrength.jpeg'%}">
    <img id="logo-image" src="{% static '6abworkouts.jpeg'%}">
    <img id="logo-image" src="{% static '7fullbody.jpeg'%}">
    <img id="logo-image" src="{% static '7sportsperformance.jpeg'%}">
    <img id="logo-image" src="{% static 'gallery04.png'%}">
    <img id="logo-image" src="{% static 'gallery05.png'%}">
    <img id="logo-image" src="{% static '3musclebuilding.jpeg'%}">
    <img id="logo-image" src="{% static '4fatloss.jpeg'%}">

</div>

{% endblock %}