{% extends 'base.html' %}
{% block content %}
{% load static %}

<br><br>
<div class="container-fluid fill">
    

    <div class="row justify-content-center">  
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
          <div class="row "><div class="col-12"><img id="logo-image" src="https://i.imgur.com/gM3F9QR.jpeg"></div></div>
          <div class="row "><div class="col-lg-12 text-center ">Workouts For Men</div></div> 
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
            <div class="row "><div class="col-12"><img id="logo-image" src="https://i.imgur.com/y6B8Zu6.jpeg"></div></div>
            <div class="row "><div class="col-lg-12 text-center ">Ab Workouts</div></div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
            <div class="row "><div class="col-12"><img id="logo-image" src="https://i.imgur.com/lzmWOi9.jpeg"></div></div>
            <div class="row "><div class="col-lg-12 text-center ">Muscle Building Workouts</div></div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
            <div class="row "><div class="col-12"><img id="logo-image" src="https://i.imgur.com/qmriKrU.jpeg"></div></div>
            <div class="row "><div class="col-lg-12 text-center ">Sports Performance</div></div>
        </div>
    </div>

    <div class="row justify-content-center">  
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
          <div class="row "><div class="col-12"><img id="logo-image" src="https://i.imgur.com/I0vnDjd.jpeg"></div></div>
          <div class="row "><div class="col-lg-12 text-center ">Workouts For Men</div></div> 
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
            <div class="row "><div class="col-12"><img id="logo-image" src="https://i.imgur.com/I7MrtzG.jpeg"></div></div>
            <div class="row "><div class="col-lg-12 text-center ">Ab Workouts</div></div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
            <div class="row "><div class="col-12"><img id="logo-image" src="https://i.imgur.com/mvRltnn.jpeg"></div></div>
            <div class="row "><div class="col-lg-12 text-center ">Muscle Building Workouts</div></div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
            <div class="row "><div class="col-12"><img id="logo-image" src="https://i.imgur.com/CTAKiQY.jpeg"></div></div>
            <div class="row "><div class="col-lg-12 text-center ">Sports Performance</div></div>
        </div>
      </div>

      <div class="row justify-content-center">  
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
          <img id="logo-image" src="https://i.imgur.com/odcBCCH.jpg"><br>
          Workouts For Men
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
            <img id="logo-image" src="https://i.imgur.com/CTAKiQY.jpeg"><br>
            Workouts For Women
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
            <img id="logo-image" src="https://i.imgur.com/iDC46Pt.jpeg"><br>
            Muscle Building Workouts
        </div>
        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
            <img id="logo-image" src="https://i.imgur.com/b7b7B2J.jpeg"><br>
            Fat Loss
        </div>
      </div>
</div>
<br>
<div style="background-color: #e6e6e6;height:120px; vertical-align:text-bottom;">
    <br><h1 class="fontFjalla">BEST WORKOUT TRACKER</h1>
</div>

{% endblock %}