{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="galleryContainer">
    <img id="logo-image" src="{% static '1workoutsformen.webp'%}">
    <img id="logo-image" src="{% static '2workoutsforwomen.webp'%}">
    <img id="logo-image" src="{% static '3musclebuilding.jpeg'%}">
    <img id="logo-image" src="{% static '4fatloss.jpeg'%}">
    <img id="logo-image" src="{% static '5increasestrength.jpeg'%}">
    <img id="logo-image" src="{% static '6abworkouts.jpeg'%}">
    <img id="logo-image" src="{% static '7fullbody.jpeg'%}">
    <img id="logo-image" src="{% static '8cardio_0.webp'%}">
    <img id="logo-image" src="{% static 'gallery04.png'%}">
    <img id="logo-image" src="{% static 'gallery05.png'%}">
    <img id="logo-image" src="{% static '3musclebuilding.jpeg'%}">
    <img id="logo-image" src="{% static '4fatloss.jpeg'%}">
    <img id="logo-image" src="{% static '9legworkouts.webp'%}">
    <img id="logo-image" src="{% static '10backworkouts.jpeg'%}">
    <img id="logo-image" src="{% static '11athome.jpeg'%}">
</div>
<div>
    <h1>BEST WORKOUT APPLICATION</h1>
</div>

{% endblock %}