<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track Fit</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <main class="modal"><section class="identity">
        <h2 class="identityTitle">Let's get to know you</h2>
        <div class="identityForm">
            <h4 class="identitySubText">How do you identify yourself?</h4>
            <input type="radio" name="gender" id="she"> <label for="">She/Her</label>
            <input type="radio" name="gender" id="he"> <label for="">He/Him</label>
            <input type="radio" name="gender" id="they"> <label for="">They/Them</label>
            <h4 class="identitySubText">What should we call you?</h4>
            <input type="text" name="name" id="name" placeholder="Enter your name"> 
            <button class="identityContinue continue btn">Continue</button>
        </div>
    </section>
</main>
</body>
</html>