{% extends 'base.html' %}
{% block content %}]
<section class="firstClass">Calisthenics</section>
<div>Crunches
    <input type="Reps" name="" id=""> <label for="Reps">Reps</label>
    <input type="Sets" name="" id=""> <label for="Reps">Sets</label>
    <input type="Mins" name="" id=""> <label for="Reps">Mins</label>
    <input type="Notes" name="" id="" placeholder="Notes:">
    <button>Edit</button>
    <button>Save</button> 
</div>
<div>
    Lunges
    <input type="Reps" name="" id=""> <label for="Reps">Reps</label>
    <input type="Sets" name="" id=""> <label for="Reps">Sets</label>
    <input type="Mins" name="" id=""> <label for="Reps">Mins</label>
    <input type="Notes" name="" id="" placeholder="Notes:">
    <button>Edit</button>
    <button>Save</button> 
</div>
<div>
    Push Ups
    <input type="Reps" name="" id=""> <label for="Reps">Reps</label>
    <input type="Sets" name="" id=""> <label for="Reps">Sets</label>
    <input type="Mins" name="" id=""> <label for="Reps">Mins</label>
    <input type="Notes" name="" id="" placeholder="Notes:">
    <button>Edit</button>
    <button>Save</button> 
<div>
    Yoga
    <input type="Reps" name="" id=""> <label for="Reps">Reps</label>
    <input type="Sets" name="" id=""> <label for="Reps">Sets</label>
    <input type="Mins" name="" id=""> <label for="Reps">Mins</label>
    <input type="Notes" name="" id="" placeholder="Notes:">
    <button>Edit</button>
    <button>Save</button> 
</div>
</section>
<section class="secondClass">Endurance</section>
<div>Cycling
    <input type="Reps" name="" id=""> <label for="Reps">Reps</label>
    <input type="Sets" name="" id=""> <label for="Reps">Sets</label>
    <input type="Mins" name="" id=""> <label for="Reps">Mins</label>
    <input type="Notes" name="" id="" placeholder="Notes:">
    <button>Edit</button>
    <button>Save</button> 
</div>
<div>
    Dancing
    <input type="Reps" name="" id=""> <label for="Reps">Reps</label>
    <input type="Sets" name="" id=""> <label for="Reps">Sets</label>
    <input type="Mins" name="" id=""> <label for="Reps">Mins</label>
    <input type="Notes" name="" id="" placeholder="Notes:">
    <button>Edit</button>
    <button>Save</button> 
</div>
<div>Running
    <input type="Reps" name="" id=""> <label for="Reps">Reps</label>
    <input type="Sets" name="" id=""> <label for="Reps">Sets</label>
    <input type="Mins" name="" id=""> <label for="Reps">Mins</label>
    <input type="Notes" name="" id="" placeholder="Notes:">
    <button>Edit</button>
    <button>Save</button> 
</div>
</section>
{% endblock %}