{% extends 'base.html' %}
{% block content %}]
<section class="firstClass">Calisthenics</section>
<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Crunches</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <table id="exerciseTable" class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Reps</th>
                            <th>Sets</th>
                            <th>Mins</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Lunges</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <table id="exerciseTable" class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Reps</th>
                            <th>Sets</th>
                            <th>Mins</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div> 
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Push Ups</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <table id="exerciseTable" class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Reps</th>
                            <th>Sets</th>
                            <th>Mins</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Yoga</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <table id="exerciseTable" class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Reps</th>
                            <th>Sets</th>
                            <th>Mins</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
</section>
<section class="secondClass">Endurance</section>
<div>   <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Cycling</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <table id="exerciseTable" class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Reps</th>
                        <th>Sets</th>
                        <th>Mins</th>
                        <th>Delete</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Dancing</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <table id="exerciseTable" class="table table-bordered table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Reps</th>
                            <th>Sets</th>
                            <th>Mins</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div>   <div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>Running</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <table id="exerciseTable" class="table table-bordered table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Reps</th>
                        <th>Sets</th>
                        <th>Mins</th>
                        <th>Delete</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</div>
</section>
{% block content %}

<h1>Log</h1>

{% endblock %}